ul{
    list-style-type: none;
    margin: 0;padding: 0;
    li {
        background: rgb(231, 233, 212);
        padding: 2em;
        border-radius: 4px;
        margin-bottom: 7px;
        display: grid;
        grid-template-columns: auto;
       
        a{
            color: red;
            text-decoration: none;
        }
        div{
            border-radius: 4px;
        }
   
    }
   
}
p{
    color: black;
    text-align: center;
}
.rain{
    background-color: blue;
    opacity: 0%;
}
